<div v-if="isShow" class="add-position">
    <div class="add-position-outline">
        <div class="position-title" v-if="editWhich!=''">修 改 社 保 缴 纳 地</div>
        <div class="position-title" v-else>新 增 社 保 缴 纳 地</div>
        <span>社保缴纳地</span>
        <el-input
                class="position-input"
                placeholder="请输入内容"
                v-model="input10"
                clearable>
        </el-input>
        <div class="btn-place">
            <el-button @click="checkBtn(0)">取 消</el-button>
            <el-button @click="checkBtn(1)" type="primary">保 存</el-button>
        </div>
    </div>
</div>