<meta charset="UTF-8">
<script language="javascript">
    var phoneWidth = parseInt(window.screen.width);
    var phoneScale = phoneWidth / 750;
    var ua = navigator.userAgent;
    var viewportContents = ['width=750', 'target-densitydpi=device-dpi', 'viewport-fit=contain'];
    if (/Android (\d+\.\d+)/.test(ua)){
        var version = parseFloat(RegExp.$1);
        if (version > 2.3){
            viewportContents.push('minimum-scale='+phoneScale, 'maximum-scale='+phoneScale);
        }
    } else{
        viewportContents.push('user-scalable=no');
    }
    document.write('<meta name="viewport" content="'+viewportContents.join(',')+'">');
</script>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{if !empty($PageTitle)}{$PageTitle}{else}梵几·家具品牌 fnji furniture online shop{/if}</title>
<script>
    var FNJISite={ };
    {if (isset($id))}
    FNJISite.ID = "{$id}";
    {/if}
    {if (isset($CDN))}
    FNJISite.CDN = "{$CDN}";
    {/if}
    {if (isset($USER_SESSION_JSON))}
    FNJISite.user = {$USER_SESSION_JSON};
    {/if}
</script>